<div class="container">

  <div class="badge">
    <button mat-stroked-button color="primary" matBadge="{{ closed }}" (click)="navegateToFinished()">Tarefas finalizadas</button>
  </div>

    <button routerLink="create" class="novo-todo mat-elevation-z8" mat-stroked-button color="primary">Nova Tarefa</button>

    <div class="content" *ngFor="let item of list">

        <mat-card class="mat-elevation-z8">

            <p>Data para finalizar: {{item.dateForFinalize}}</p>

            <mat-card-header>
              <mat-card-title>{{item.title}}</mat-card-title>
              <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
            </mat-card-header>

            <div class="actions">
                <button (click)="finalizar(item)" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                    <mat-icon>done</mat-icon>
                  </button>
                  <button routerLink="update/{{item.id}}" mat-mini-fab color="accent" aria-label="Example icon button with a menu icon">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-mini-fab color="warn" (click)="delete(item.id)">
                    <mat-icon>delete</mat-icon>
                  </button>


            </div>

        </mat-card>
    </div>
</div>
