<mat-card class="mat-elevation-z8 forgot-password-card">
    <div class="logo">
      <img src="assets/img/logo.png" alt="" />
      <h1>App Tarefas</h1>
    </div>
    <mat-card-header>
      <mat-card-title class="mat-card-title">Esquece sua senha?</mat-card-title>
    </mat-card-header>
    <form [formGroup]="form" (ngSubmit)="enviar()">
      <mat-card-content>
        <mat-form-field class="form-field">
          <input
            matInput
            type="email"
            id="email"
            name="email"
            formControlName="email"
            placeholder="Insira seu Email"
          />
          <mat-error
            *ngIf="
              form.controls['email'].invalid &&
              (form.controls['email'].dirty || form.controls['email'].touched)
            "
          >
            O campo email é obrigatório e precisa ser um email válido.
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <div class="btn-send-box">
        <div class="btn-send">
          <button mat-raised-button type="submit" class="btn-send">
            Enviar Email</button><br/>
        </div>
        <div class="btn-voltar">
          <span>
            <a mat-button routerLink="/login">Voltar para tela de login</a>
          </span><br/>
        </div>
      </div>
    </form>
  </mat-card>
  