.forgot-password-card {
    width: 400px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
  }
  
  mat-card-header{
      margin-bottom: 1.5rem;
  }
  form {
    width: 80%;
  }
  
  img {
    height: 3rem;
  }
  
  h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(34, 70, 155);
  }
  
  .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .form-field {
    width: 100%;
    margin: 0.5rem auto;
  }

  mat-card-content {
    width: 100%;
  }
  
  .btn-send-box mat-card-actions {
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .mat-card-actions button {
    width: 70%;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .btn-send{
    margin-bottom: 0.5rem;
  }
  
  .btn-send-box{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .btn-send button:hover {
    background: blueviolet;
    color: aliceblue;
  }
  
  .mat-card-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(34, 70, 155);
    margin-bottom: 5rem;
  }
  
  span a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(34, 70, 155);
  }
  
  @media (max-width: 600px) {
    .create-card {
      width: 80%;
      height: auto;
      max-height: 100vh;
      overflow-y: auto;
    }
  }
  