img {
    height: 3rem;
}

mat-toolbar {
    justify-content: center;
    max-height: 100%;
}

.custom-toolbar {
    height: 5rem;
}

spam {
    display: flex;
    align-items: center;
}

h1{
    padding-left: 1.2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(34, 70, 155);
}