<mat-card class="mat-elevation-z8 recover-password-card">
  <div class="logo">
    <img src="assets/img/logo.png" alt="" />
    <h1>App Tarefas</h1>
  </div>
  <mat-card-header>
    <mat-card-title class="mat-card-title"
      >Escolha uma nova Senha</mat-card-title
    >
  </mat-card-header>
  <form [formGroup]="form" (ngSubmit)="enviar()">
    <mat-card-content>
      <mat-form-field class="form-field">
        <input
          matInput
          type="password"
          id="password"
          name="password"
          formControlName="password"
          placeholder="Insira sua nova Senha"
        />
        <mat-error
          *ngIf="
            form.controls['password'].invalid &&
            (form.controls['password'].dirty ||
              form.controls['password'].touched)
          "
        >
          O campo senha é obrigatório e precisa ter ao menos 6 caracteres.
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <div class="btn-send-box">
      <div class="btn-send">
        <button mat-raised-button type="submit" class="btn-send">
          Alterar Senha</button
        ><br />
      </div>
      <div class="btn-voltar">
        <span>
          <a mat-button [routerLink]="['/login']"
            >Voltar para tela de login</a
          > </span
        ><br />
      </div>
    </div>
  </form>
</mat-card>
