.login-card {
  width: 400px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  height: 3rem;
}

h1{
  padding-left: 1.2rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(34, 70, 155);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.form-field {
  width: 100%;
}

.btn-login-box {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.btn-login {
  width: 100%;
  padding: 0.5rem 2rem;
  margin-bottom: 0.5rem;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-login button {
  width: 100%;
  max-width: 20rem;
  padding: 0.5rem 2rem;
}

.btn-login button:not([disabled]):hover {
  background: blueviolet;
  color: aliceblue;
}

.mat-card-title {
  padding-left: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(34, 70, 155);
}

span a {
  padding-left: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(34, 70, 155);
  margin-bottom: 0.5rem;
}

@media (max-width: 600px) {
  .login-card {
    width: 75%;
  }
}