<mat-card class="mat-elevation-z8 login-card">
  <div class="logo">
    <img src="assets/img/logo.png" alt="" />
    <h1>App Tarefas</h1>
  </div>
  <mat-card-header>
    <mat-card-title class="mat-card-title">Login</mat-card-title>
  </mat-card-header>
  <form>
    <mat-card-content>
      <mat-form-field class="form-field">
        <input
          matInput
          type="text"
          id="name"
          name="name"
          [(ngModel)]="login.name"
          placeholder="Usuário"
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <input
          matInput
          type="password"
          id="password"
          name="password"
          [(ngModel)]="login.password"
          [required]="true"
          placeholder="Senha"
        />
      </mat-form-field>
    </mat-card-content>
    <div class="btn-login-box">
      <div class="btn-login">
        <button mat-raised-button type="submit" (click)="authLogin()">Entrar</button>
      </div>
      <div class="create-account-link">
        <span>
          <a mat-button routerLink="/create-user">Criar conta de usuário</a>
        </span>
      </div>
    </div>
  </form>
</mat-card>
