form {
    width: 70%;
    margin: 2rem auto 0 auto;
    text-align: center;
}

.data-finalizar {
    text-align: center;

}

h1{
    padding-left: 1.2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(34, 70, 155);
}

.form {
    width: 100%;
}

.buttons {
    width: 100%;
}

button {
    margin: 0 .5rem;
    padding:0 1rem;
}

mat-form-field, imput {
    text-align: center;
    width: 30%;
}