<form [formGroup]="todoForm" (ngSubmit)="create()">
  <h1>Criando Tarefa</h1>
  <mat-form-field class="data-finalizar" appearance="fill">
    <mat-label>Data para finalizar</mat-label>
    <input formControlName="dateForFinalize" matInput [matDatepicker]="dp3" />

    <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
    <mat-datepicker #dp3></mat-datepicker>
  </mat-form-field>

  <div class="forms">
    <mat-form-field class="form">
      <mat-label>Titulo</mat-label>
      <textarea
        formControlName="title"
        matInput
        placeholder="Ex. estudar spring boot"
      ></textarea>
      <mat-error *ngIf="todoForm.get('title')?.invalid"
        >O Titulo da Tarefa obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field class="form">
      <mat-label>Descrição</mat-label>
      <textarea
        formControlName="description"
        matInput
        placeholder="Ex. aplicar padrões de arquitetura"
      ></textarea>
      <mat-error *ngIf="todoForm.get('description')?.invalid"
        >A descrição da Tarefa é obrigatório</mat-error>
    </mat-form-field>
  </div>
  <div class="buttons">
    <button mat-stroked-button color="primary" type="submit">Criar</button>
    <button mat-stroked-button [routerLink]="['']" color="warn">Cancelar</button>
  </div>
</form>
